*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.cabeza> div{
    text-align: center;
}

/*navegacion*/

nav a{
    display: inline-block;
    text-decoration: none;
    margin: 10px 10px 0px 10px;
    color: #ffff;
    font-size: 20px;
   
  
}
nav{
      text-align: right;
}
nav a:hover{
    text-decoration: underline;
}

.seccion2{
    text-align: center;
}

.seccion2{
    padding: 30px;
    width: 100%;
    margin: 0px 0px 0px 0px;
    overflow: hidden;
    font-size: 34px;
    background:#ffff;
    display: block;

}
/* Header */ 

.cabeza{
    width: 100%;
    height: 300px;
    background-image: linear-gradient(rgba(241, 147, 251, 0.699) 0%, rgba(85, 27, 35, 0.692) 100%), url("../img/header.jpg");
    width: 100%;
    height: 300px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    position: relative;


}

.wave{
    position: absolute;
    bottom: 0;
    width: 100%;
   

}

.divi > h5{
    text-align: left;
    padding: 10px;
}

.texto{
    color: white;
    font-size: 200%;
    text-align: center;
    font-weight: lighter;
    font-family: 'Times New Roman', Times, serif;
}
footer > div{
     background: #f5576c;
    background-size: cover;
    background-attachment: fixed;
    position: relative;
}

.descarga{
    font: bold 5px;
    font-size: 28px;
    font-family: Arial, Helvetica, sans-serif;
    color: #f2f2f2;
    border: 1px solid #CEF6F5;
    padding: 4px 8px 4px 8px;
    border-radius: 8px; 
    text-decoration: none;
   background-image: linear-gradient(45deg, #ff9a9e 0%, #fad0c4 99%, #fad0c4 100%);
    transition-property: transform, box-shadow ;
    transition-duration: 0.4s;
    transition: all 150ms ease-out;
    margin-left: 5px;

}
.descarga1{
    font: bold 5px;
    font-size: 28px;
    font-family: Arial, Helvetica, sans-serif;
    color: #f2f2f2;
    border: 1px solid #CEF6F5;
    padding: 4px 8px 4px 8px;
    border-radius: 8px; 
    text-decoration: none;
   background-image: linear-gradient(45deg, #ff9a9e 0%, #fad0c4 99%, #fad0c4 100%);
    transition-property: transform, box-shadow ;
    transition-duration: 0.4s;
    transition: all 150ms ease-out;
    margin-left: 300px;

}
.descarga1:hover {
  background:  rgba(255, 106, 109, 1);


    
    border: 1px solid rgba(255, 89, 128, 1);
    color:  #ffff;
    transform: scale(1.0200);
    box-shadow: rgba(255, 145, 149, 1) 0px 3px 6px;
}


.descarga2{
    font: bold 5px;
    font-size: 28px;
    font-family: Arial, Helvetica, sans-serif;
    color: #f2f2f2;
    border: 1px solid #CEF6F5;
    padding: 4px 8px 4px 8px;
    border-radius: 8px; 
    text-decoration: none;
   background-image: linear-gradient(45deg, #ff9a9e 0%, #fad0c4 99%, #fad0c4 100%);
    transition-property: transform, box-shadow ;
    transition-duration: 0.4s;
    transition: all 150ms ease-out;
    margin-left: 345px;

}
.descarga2:hover {
  background:  rgba(255, 106, 109, 1);
    border: 1px solid rgba(255, 89, 128, 1);
    color:  #ffff;
    transform: scale(1.0200);
    box-shadow: rgba(255, 145, 149, 1) 0px 3px 6px;
}


.descarga3{
    font: bold 5px;
    font-size: 28px;
    font-family: Arial, Helvetica, sans-serif;
    color: #f2f2f2;
    border: 1px solid #CEF6F5;
    padding: 4px 8px 4px 8px;
    border-radius: 8px; 
    text-decoration: none;
   background-image: linear-gradient(45deg, #ff9a9e 0%, #fad0c4 99%, #fad0c4 100%);
    transition-property: transform, box-shadow ;
    transition-duration: 0.4s;
    transition: all 150ms ease-out;
    margin-left: 213px;

}
.descarga3:hover {
  background:  rgba(255, 106, 109, 1);
    border: 1px solid rgba(255, 89, 128, 1);
    color:  #ffff;
    transform: scale(1.0200);
    box-shadow: rgba(255, 145, 149, 1) 0px 3px 6px;
}





.descarga4{
    font: bold 5px;
    font-size: 28px;
    font-family: Arial, Helvetica, sans-serif;
    color: #f2f2f2;
    border: 1px solid #CEF6F5;
    padding: 4px 8px 4px 8px;
    border-radius: 8px; 
    text-decoration: none;
   background-image: linear-gradient(45deg, #ff9a9e 0%, #fad0c4 99%, #fad0c4 100%);
    transition-property: transform, box-shadow ;
    transition-duration: 0.4s;
    transition: all 150ms ease-out;
    margin-left: 105px;

}
.descarga4:hover {
  background:  rgba(255, 106, 109, 1);
    border: 1px solid rgba(255, 89, 128, 1);
    color:  #ffff;
    transform: scale(1.0200);
    box-shadow: rgba(255, 145, 149, 1) 0px 3px 6px;
}





.descarga5{
    font: bold 5px;
    font-size: 28px;
    font-family: Arial, Helvetica, sans-serif;
    color: #f2f2f2;
    border: 1px solid #CEF6F5;
    padding: 4px 8px 4px 8px;
    border-radius: 8px; 
    text-decoration: none;
   background-image: linear-gradient(45deg, #ff9a9e 0%, #fad0c4 99%, #fad0c4 100%);
    transition-property: transform, box-shadow ;
    transition-duration: 0.4s;
    transition: all 150ms ease-out;
    margin-left: 155px;

}
.descarga5:hover {
  background:  rgba(255, 106, 109, 1);
    border: 1px solid rgba(255, 89, 128, 1);
    color:  #ffff;
    transform: scale(1.0200);
    box-shadow: rgba(255, 145, 149, 1) 0px 3px 6px;
}




.descarga6{
    font: bold 5px;
    font-size: 28px;
    font-family: Arial, Helvetica, sans-serif;
    color: #f2f2f2;
    border: 1px solid #CEF6F5;
    padding: 4px 8px 4px 8px;
    border-radius: 8px; 
    text-decoration: none;
   background-image: linear-gradient(45deg, #ff9a9e 0%, #fad0c4 99%, #fad0c4 100%);
    transition-property: transform, box-shadow ;
    transition-duration: 0.4s;
    transition: all 150ms ease-out;
    margin-left: 211px;

}
.descarga6:hover {
  background:  rgba(255, 106, 109, 1);
    border: 1px solid rgba(255, 89, 128, 1);
    color:  #ffff;
    transform: scale(1.0200);
    box-shadow: rgba(255, 145, 149, 1) 0px 3px 6px;
}








.descarga:hover {
  background:  rgba(255, 106, 109, 1);


    
    border: 1px solid rgba(255, 89, 128, 1);
    color:  #ffff;
    transform: scale(1.0200);
    box-shadow: rgba(255, 145, 149, 1) 0px 3px 6px;
}
.seccion3 > h5 ,a{
    display: inline-block;
}
.seccion3 {
    margin: auto auto 20px auto;
    padding: 15px 1px 15px 0px; 
    border-radius: 7px;
    background:rgba(203, 205, 205, 0.5);
    text-align: left;
    padding-left: 20px;
    width: 90%;

    border-width: inherit;
    box-shadow: #000000 0px 4px 14px;

}

.seccion3> h5{
    margin-right: 10px;

}


.cotenedor2{
    margin-left: 20px;
    line-height: 80px;
    
    
}
.conte{
    
    display: flex;
    height: 88px;
    margin-top: 80px;
    overflow: hidden;
}

.holaa{
    margin-left: 245px;
}
.cotenedor2,.conte{
    color: #ffffff;
    font-size: 45px;
    
}



.titulo{
    font-size: 45px;
    color: #f2f2f2;
    text-align: center;
    margin: -30px auto auto auto;
    padding: 45px 0 0 0 ;
}
